
.ipynb_checkpoints/AuxLoss-checkpoint.ipynb
.ipynb_checkpoints/AuxLossClean-checkpoint.ipynb
.ipynb_checkpoints/ConvNetClean-checkpoint.ipynb
.ipynb_checkpoints/AuxLoss-checkpoint.ipynb
.ipynb_checkpoints/explorationLeNetDual-checkpoint.ipynb
.ipynb_checkpoints/WeightSharingClean-checkpoint.ipynb
.ipynb_checkpoints/AuxLoss-checkpoint.ipynb
.ipynb_checkpoints/explorationLeNetDual-checkpoint.ipynb
.ipynb_checkpoints/AuxLoss-checkpoint.ipynb
.ipynb_checkpoints/explorationLeNetDual-checkpoint.ipynb
.ipynb_checkpoints/explorationLeNetDual-checkpoint.ipynb
.ipynb_checkpoints/AuxLoss-checkpoint.ipynb
.ipynb_checkpoints/explorationLeNetDual-checkpoint.ipynb
.ipynb_checkpoints/explorationLeNetDual-checkpoint.ipynb
.ipynb_checkpoints/AuxLoss-checkpoint.ipynb
